<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>3D智慧医疗</title>
<link rel="stylesheet" type="text/css" href="app-assets/css/vendors.css">
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
  <div class="navbar-wrapper">
    <div class="navbar-container content">
      <div class="collapse navbar-collapse show" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="javascript:;"><i class="ft-menu font-large-1"></i></a></li>
          <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="javascript:;"><i class="ft-menu"></i></a></li>
          <li class="nav-item dropdown navbar-search"><a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="javascript:;"><i class="ficon ft-search"></i></a>
            <ul class="dropdown-menu">
              <li class="arrow_box">
                <form>
                  <div class="input-group search-box">
                    <div class="position-relative has-icon-right full-width">
                      <input class="form-control" id="search" type="text" placeholder="Search here...">
                      <div class="form-control-position navbar-search-close"><i class="ft-x"></i></div>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-user nav-item"> <a class=" nav-link dropdown-user-link" href="login.html" > <span class="username"><i class="ft-power"></i>退出登录</span> </a> </li>
          <li class="dropdown dropdown-user nav-item"> <a class="dropdown-toggle nav-link dropdown-user-link" href="javascript:;" > <span class="username">快乐就好</span> <span class="avatar avatar-online"><img src="app-assets/images/loopy.jpg" alt="avatar"></span> </a> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="app-assets/images/backgrounds/02.jpg">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="Chameleon admin logo" src="app-assets/images/loopy.jpg"/>
        <h3 class="brand-text">3D-智慧医疗平台</h3>
        </a></li>
      <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
    </ul>
  </div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item active"><a href="index.html"><i class="ft-home"></i><span class="menu-title">数据分析</span></a></li>
      <li class=" nav-item"><a href="javascript:;"><i class="ft-layers"></i><span class="menu-title"> 源文件导入</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="shangchuanyuanwenjian.html">上传源文件</a> </li>
        </ul>
      </li>
      <li class=" nav-item"><a href="javascript:;"><i class="ft-users"></i><span class="menu-title">导入数据 </span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="daorushuju.html">导入数据</a> </li>
        </ul>
      </li>
      <li class=" nav-item"><a href="javascript:;"><i class="ft-layout"></i><span class="menu-title"> 原图展示</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="yuantushow.html">原图展示</a></li>
        </ul>
      </li>
      <li class=" nav-item"><a href="javascript:;"><i class="ft-feather"></i><span class="menu-title"> 分割图片</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="fengetupian.html">分割图片</a></li>
        </ul>
      </li>
      <li class=" nav-item"><a href="javascript:;"><i class="ft-edit"></i><span class="menu-title"> 分割完成图片展示</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="fengetupianshow.html">分割完成图片展示</a> </li>
        </ul>
      </li>
      <li class=" nav-item"><a href="javascript:;"><i class="ft-file-text"></i><span class="menu-title"> 报告管理</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="baogao.html">报告管理</a></li>
        </ul>
      </li>
      <li class=" nav-item"><a href="javascript:;"><i class="ft-trending-up"></i><span class="menu-title"> 数据分析</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="shujufenxi.html">数据分析</a></li>
        </ul>
      </li>
      <li class=" nav-item"><a href="javascript:;"><i class="ft-bar-chart-2"></i><span class="menu-title"> 临床数据</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="linchuang.html">临床数据管理</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="navigation-background"></div>
</div>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">系统主页</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">主页</a></li>
              <li class="breadcrumb-item"><a href="javascript:;">系统管理</a></li>
              <li class="breadcrumb-item active">系统主页</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
       <section class="basic-inputs">
        <div class="row match-height">
          <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card indtj">
              <div class="card-header">
                <h4 class="card-title">评测统计「本周」</h4>
              </div>
              <div class="card-block">
                <div class="card-body ">
                  <p class=""><span class="text-primary">202</span><i>总计20198</i></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card indtj">
              <div class="card-header">
                <h4 class="card-title">量表统计「本月」</h4>
              </div>
              <div class="card-block">
                <div class="card-body">
                  <p class=""><span class="text-warning">104</span><i>总计2173</i></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card indtj">
              <div class="card-header">
                <h4 class="card-title">本月咨询统计</h4>
              </div>
              <div class="card-block">
                <div class="card-body">
                  <p class=""><span class="text-danger">582</span><i>累计1529</i></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card indtj">
              <div class="card-header">
                <h4 class="card-title">量表统计</h4>
              </div>
              <div class="card-block">
                <div class="card-body">
                  <p class=""><span class="text-success">26</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     <section class="file-browser">
        <div class="row match-height">
          <div class="col-lg-12 col-md-12">
            <div class="card" style="">
              <div class="card-header">
                <label class="card-title" for="exampleInputFile">评测预警</label>
              </div>
              <div class="card-block">
                <div class="card-body">
                  <div style="height: 200px" id="echart1"></div>
					
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<footer class="footer footer-static footer-light navbar-border navbar-shadow">
  <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">2023  &copy; 快乐就好--3D智慧医疗平台 © 2023-2024</span>
    <ul class="list-inline float-md-right d-block d-md-inline-blockd-none d-lg-block mb-0">
      <li class="list-inline-item">3D智慧医疗平台 </li>
    </ul>
  </div>
</footer>

<!-- BEGIN VENDOR JS--> 
<script src="app-assets/js/vendors.min.js" type="text/javascript"></script> 
<script src="app-assets/js/app-menu.js" type="text/javascript"></script> 
<script src="app-assets/js/app.js" type="text/javascript"></script>
<script src="app-assets/js/echarts.min.js" type="text/javascript"></script>
	
<script>
$(function () {
    echarts_1();
function echarts_1() {
 // 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('echart1'));
//对话框图片
var uploadedDataURL = "/asset/get/s/data-1547533200844-7eBMgp66l.png";

 var dataIPSxAxis = ['1月', '2月', '3月', '4月 ', '5月 ', '6月', '7月', '8月'];

 var dataIPS = [40, 180, 60, 290, 100, 140, 60, 90];

 option = {

     tooltip: { trigger: 'axis',},

     color: ["#0080ff", "#4cd5ce"],

 

     grid: {

         left: '20',

        right: '35',

        top:'10%',

        bottom: '0%',

         containLabel: true

     },

     xAxis: [{

         type: 'category',

         boundaryGap: false,

         data: dataIPSxAxis,

         axisLabel: {

             show: true,

             textStyle: {

                 color: '#555',

                 fontSize: 12,

             },

         },

         axisLine: {
 show: false,
             lineStyle: {

                 color: '#0a2b52',

                 width: 0.5, //这里是为了突出显示加上的

             }

         }

     }],

     yAxis: [{
         type: 'value',
         axisLine: {
             onZero: false,
			 show: false,

         },

         

         axisLabel: {
             show: true,
             textStyle: {
                 color: '#555' //字体颜色

             }

         }, 
		 splitNumber: 3,
          splitLine:{
			 
			
                show:true,
                lineStyle:{
					color:'#eee',
                    type:'dotted'
                }

                

            },

     }],

     series: [

         {

             name: '最高水量',

             type: 'line',

             smooth: true,

             //  symbol: "none", //去掉折线点

             stack: 100,

             itemStyle: {

                 normal: { //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上

                     color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{

                         offset: 0,

                         color: '#748bff' // 0% 处的颜色

                     }, {

                         offset: 1,

                         color: '#ff92ef' // 100% 处的颜色

                     }]), //背景渐变色

                     lineStyle: { 

                         width: 0,

                         type: 'solid',

                         color: "#CC56CB"

                     }

                 },

                 emphasis: {

                     color: '#02675f',

                     lineStyle: { // 系列级个性化折线样式

                         width: 0,

                         type: 'dotted',

                         color: "#02675f" //折线的颜色

                     }

                 }

             }, //线条样式

             symbolSize: 0, //折线点的大小

             areaStyle: {

                 normal: {}

             },

             data: dataIPS,

         },



     ]

 };
        myChart.setOption(option);
  
        window.addEventListener("resize",function(){
            myChart.resize();
        });
    }

})
  </script>
  
</body>
</html>